/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic);*/

/*--------------------------------------------------------------------------------------------------
Test CSS in sl25
---------------------------------------------------------------------------------------------------*/
.task-bottom {
/*background: pink;*/
}
/*end: Test CSS
---------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------
Global CSS
---------------------------------------------------------------------------------------------------*/
* {
	/*background-color: #EEEEEE; Removed by Eric Ruiz*/
	box-sizing: border-box;
}
/*adds border radius to relevant elements*/
.curve, textarea, button, #task_section ul li /*task items*/ {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#task_input_field {
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
} 


#task_input_field.textarea_curve {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.height52 {
	height: 50px;
}
.greenbtn {
	background: #4caf50;
}
.bluebtn {
	background: #3498db;
}
/*end: Global CSS
---------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------
Structure
---------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------
Structure > Overall Structure
----------------------------------------------------*/

#app_container {
	margin: auto auto 23px;
	max-width: 500px;
	position: relative;
}
#add_task_section,
#task_section, 
#clear_task_section, 
 .dots, div[empty-task-list-template] {
	padding: 5px 23px 0;/*Controls the breathing for both sides of the whole app*/
}
div[empty-task-list-template] {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
.dots {
	padding-right: 26px;
}
/*end: Structur > Overall Structure
----------------------------------------------------*/

#add_task_section {
	padding-top: 23px;
	padding-bottom: 23px;
}
#add_task_section form {
	overflow: hidden;
}
#task_input_field {
	width: 100%;
	height: 60px;
	border: 0;
	padding: 5px 10px;
}
#task_section {
	background: #EFF0F0;
}
#task_section ul {
	padding: 0;
}
#task_section ul li {
	position: relative;
	margin-bottom: 10px;
	line-height: 140%;
	list-style-type: none;
	min-height: 30px;
	padding: 12px 25px;
	position: relative;
	color: #333;
	border-radius: 40px;
	border: 1px solid #E6E5E5;
}
#empty_msg {
	color: #9e9e9e;
	text-align: center;
	padding-top: 160px;
	padding-bottom: 170px;
}
.task {
	/*padding-left: 5px;*/
    /*padding-right: 5px;*/
    /*min-height: 50px;*/
    /*border: 1px solid black;*/
	margin-bottom: 7px;
	line-height: 140%;
	list-style-type: none;
	padding: 12px 10px;
	position: relative;
	min-height: 50px;
	background: #E0E0E0;
	font-size: 17px;
}
.cross_mark {
		border: 0;
	/* float: right;*/
	width: 40px;
	text-align: center;
/* conflict data   
    border: 0;
   /* float: right;
    width: 50px;
    text-align: center;
*/
}
#clear_task_section button {
	width: 100%;
	border: 0;
	height: auto;
	padding: 12px;
	margin-bottom: 10px;
}
.dots {
	text-align: right;/*padding-right: 15px;
    padding-bottom: 12px;*/
}
.dots span {
	height: 6px;
	width: 6px;
	border-radius: 50%;
	display: inline-block;
}
#add_task_button, #start_task_button {
	border: 0 none;
	border-radius: 0 0 0 5px;
	float: left;
	font-size: 18px;
	font-weight: 300;
	height: auto;
	margin: 0;
	padding: 6px 0;
	text-transform: uppercase;
	width: 50%;
}
#start_task_button {
	border-radius: 0;
	border-bottom-right-radius: 5px;
}
#toggleDiv span {
	position: absolute;
    color: rgba(255,255,255,0.75);
    left: 50%;
    margin-left: -1px;
    font-size: 16px;
    line-height: 38px;
}
.cross_mark {
	position: absolute;
	top: 0px;
	right: 0;
	/*remove curve from inside the buttons*/
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.fade {
	height: 100%;
	width: 80px;
	position: absolute;
	top: 0;
	right: 52px;
}
.task-wrapper {
	min-height: 342px;
}
.action-buttons {
	min-height: 35px;
	display: none;
}
.action-buttons span {
	padding-left: 12px;
	font-size: 12px;
}
input, select, textarea {
	color: #333333;
	font-weight: normal;
	font-weight: 300;
}
 input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */
 color: #cccaca;
font-size: 20px !important;
}
input::-moz-placeholder, select:-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #cccaca;
 opacity:  1;
font-size: 20px !important;
}
input:-moz-placeholder, select-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #cccaca;
 opacity:  1;
font-size: 20px !important;
}
input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: #cccaca;
font-size: 20px !important;
}

/*--------------------------------------------------
Media Queries
--------------------------------------------------*/

/*If screen is bigger than 500 this size corrosponds to: #app_container widht*/
@media screen and (min-width: 500px) {
#app_container {
	max-width: 320px;
}
body {
	padding-top: 23px;
	background-color: red
}
/*update color from #eee to show seperation*/
html,  body {
	background: #e0e0e0 !important;
}
/*Makes the clear button expand both side to touch the edges.*/
#clear_task_section {
	padding: 0;
}
/*add curve to the top two corners of the app container. We are
    only adding curves to the top two corners*/
#add_task_section {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
/*adjust curve/border-radious for the clear button*/
#clear_task_section button {
	/*remove curve from top two corners*/
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	/*add 10px to the bottom two corners*/
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.staticDemo {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
}

/*If screen is smaller than 500*/
@media screen and (max-width: 500px) {
}
/*end: Media Queries
--------------------------------------------------*/

/*end: Structure
---------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------
Colors
---------------------------------------------------------------------------------------------------*/
/*#app_container {
	background,: pink;
}*/

body, html {
	background-color: #eee;
}
#add_task_section {
	background: url("../images/top_bg.png") no-repeat;
	background-size: 100%;
}
#add_task_section form {
	background-color: inherit;
}
#add_task_button.btn-disabled {
	display: none;
}
#start_task_button .btn-disabled {
	display: none;
}
.btn-disabled {
	opacity: .5;
}
.ion_custom {
	background: #EFF0F0;
}
#task_section {
	max-height: 400px;
	overflow-y: auto;
	paddind-bottom: 23px;
	padding-top: 23px;
	min-height: 400px;
}

/* Scrollbar stuff */
/* Let's get this party started */
::-webkit-scrollbar {
 width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
 -webkit-box-shadow: rgba(0, 0, 0, 0.3);
 -webkit-border-radius: 2px;
 border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
 border: 2px solid #eeeeee;
 -webkit-border-radius: 2px;
 border-radius: 2px;
 background: #d7d7d8;
}

::-webkit-scrollbar-thumb:window-inactive {
 background: #d7d7d8;
}
/* End Scrollbar stuff */

#task_section ul li {
	/*padding-right: 50px;*/
	background: #fff;
	font-size: 17px;
}
#task_section ul li:last-child {
	margin-bottom: 0px;
}
.cross_mark {
	color: white;
	background: #1ab4e6;
}
#clear_task_section {
/*    background: #eeeded;*/
}
#task_input_field {
	background: #fff;
}
#add_task_button, #start_task_button {
	background: #249dc4 none repeat scroll 0 0;
	color: rgba(255, 255, 255, 0.75);
}
#toggleDiv {
	display: none;
}
#clear_task_section button {
	color: #fff;
}
.fade {
	height: 100%;
	width: 140px;
	position: absolute;
	top: 0px;
	right: 50px;
	/* Permalink - use to edit and share this gradient:
    http://colorzilla.com/gradient-editor/#e0e0e0+0,e0e0e0+100&amp;0.19+0,1+100 */
	background: -moz-linear-gradient(left, rgba(224, 224, 224, 0.19) 0%, rgba(224, 224, 224, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(224, 224, 224, 0.19) 0%, rgba(224, 224, 224, 1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(224, 224, 224, 0.19) 0%, rgba(224, 224, 224, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30e0e0e0', endColorstr='#e0e0e0', GradientType=1); /* IE6-9 */
}
div[empty-task-list-template] {
	color: #9E9E9E;
}
/*end: Colors
---------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------
Fonts
---------------------------------------------------------------------------------------------------*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
}
#empty_msg {
	font-size: 14px;
}
/*end: Fonts
---------------------------------------------------------------------------------------------------*/

/*--17-03-2016 --*/

.task.curve .cross_mark {
	border-radius: 0px;
	border-radius: 0 40px 40px 0;
	padding: 0 45px 0 10px;
}
.task.curve.fullView .cross_mark {
	border-radius: 0 0 0 3px;
}
.ng-binding {
	overflow: hidden;
	display: block;
	padding-right: 65px;
	white-space: normal;
	word-break: break-all;
}
.fullView .ng-binding {
	white-space: normal;
	word-break: break-all;
}
.vtr-iconbar:focus {
	outline: 0px;
}
.vtr-iconbar {
	background: #76d378;
	border: 0;
	border-left: 1px solid #9fe0a1;
	right: 0px;
	padding: 0;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 20px;
/* ======== conflict datat  
.task.curve .cross_mark{ /*border-radius: 0px;  right: 20px;}
.task.curve.fullView .cross_mark{ border-radius:0 0 0 3px;}
.ng-binding {  overflow: hidden;display: block; padding-right: 38px;   white-space: normal; word-break: break-all;}
.fullView .ng-binding {  white-space: normal; word-break: break-all;}
.vtr-iconbar:focus {  outline: 0px; }
.vtr-iconbar { 
    background: #76d378;
    border: 0;
    border-left: 1px solid #9fe0a1;
    right: 0px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 20px;
>>>>>>> upstream/master */
	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
}
.task.curve.fullView .vtr-iconbar {
	border-radius: 0 4px 0px 0;
	-moz-border-radius: 0 4px 0px 0;
	-webkit-border-radius: 0 4px 0px 0;
}
.vtr-iconbar .icon-bar {
	background: #9fe0a1;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	clear: both;
	display: block;
	height: 5px;
	margin: 5px auto;
	width: 5px;
}
.overlay {
	display: none;
}
.display-table {
	display: table;
	height: 100%;
	width: 100%;
}
.display-tablecell {
	display: table-cell;
	vertical-align: middle;
}
.icon {
	display: inline-block;
}
.icon-remove {
	width: 30px;
	height: 100%;
	background: url(../images/close-icon.png) center center no-repeat;
}
.icon-exachange {
	width: 52px;
	background: rgba(0, 0, 0, 0.5) url(../images/arrows-exchange.png) center center no-repeat;
}
/*        conflict data  

.overlay{
    display:none;
}
.display-table{ display:table; height: 100%; width: 100%;}
.display-tablecell{ display: table-cell;  vertical-align: middle;} 
.icon { display: inline-block; }
.icon-remove{ width:35px; height: 100%; background: url(../images/close-icon.png) center center no-repeat; }
.icon-exachange{ width:52px; background: rgba(0, 0, 0, 0.5) url(../images/arrows-exchange.png) center center no-repeat; }
*/
.activateDargandDrop .overlay {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: #fff;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	display: block;
	text-align: center;
}
.overlay .fa-arrows-v {
	font-size: 38px;
	height: 100%;
	margin: 11px;
	margin-top: -17px;
	position: absolute;
	top: 50%;
	vertical-align: middle;
	left: 0;
	right: 0;
}
#clear_task_section .grey-btn {
	background: #b0afaf
}
.link-section {
	text-align: center;
}
.grey-link {
	color: #878686;
	text-decoration: none;
	font-size: 18px;
}
.grey-link:hover, .grey-link:focus {
	color: #ff3d00;
	text-decoration: none;
	outline: none;
}
.pag-title-section {
	padding: 23px;
	text-align: center;
}
.pag-title-section h1 {
	text-align: center;
	color: #878686;
	font-weight: 300;
	font-size: 50px;
	font-family: "Open Sans", sans-serif;
	margin: 20px 0;
}
.form-group {
	margin-bottom: 10px;
}
.form-control {
	font-size: 24px;
	height: 50px;
	border: 0px;
	font-weight: 300;
	font-family: "Open Sans", sans-serif;
	color: #333;
}
.form-control:focus {
	border-color: inherit;
	box-shadow: none;
}
#static_msg {
	color: #9e9e9e;
	text-align: center;
	padding-top: 140px;
	padding-bottom: 140px;
}
/*   Menu Toggle Css Starts */

.slide-toggle {
	overflow: hidden;
	transition: all 0.4s;
}
.footer_menu {
	float: left;
	position: absolute;
	width: 100%;
	bottom: 0px;
	
}
.main_menu_box{
	float: left;
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}
.foot_icon.menu_on:before,.foot_icon.menu_off:before {
	content: "";
	background: #249EC5;
	width: 100%;
	height: 4px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	}
	
.custom_content {
    position: relative;
    width: 100%;
    height: 83%;
    margin-top: 3%;
}
.menu_on {
	background: url(../images/menu-up.png);
}
.menu_off {
	background: url(../images/menu-down.png);
}
.foot_icon {
	float: right;
	width: 78px;
	height: 42px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	margin-right: 10px;
}
.menu_box {
	float: left;
	width: 100%;
	background: #249ec5;
	opacity: 1 !important;
}
.menu_box ul {
	list-style: none;
	padding: 0px 10%;
	width: 80%;
	float: left;
	box-sizing: content-box;
}
.menu_box ul li {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	padding: 8px 0px;
	margin: 6px 0px;
	float: left;
	width: 100%;
}
.menu_box ul li a {
	color: rgba(255,255,255,0.80);
	text-align: center;
	float: left;
	width: 100%;
	text-transform: uppercase;
	font-size: 11.5px;
}
.menu_box ul li:hover a {
	text-decoration: none;
}
.menu_overlay {
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, 0.72);
	height: 100%;
	top: 0px;
	transition: all .2s linear;
	visibility: visible;
	opacity: 1;
}
.menu_overlay {
	visibility: hidden;
	opacity: 0;
}
.menu_box ul li.active{
	opacity:.5;
	}
/*   Menu Toggle Style starts           */

/*  Ionic custom class  */

ion-footer-bar {
	background: #EFF0F0;
}
.ion_custom .scroll .task_ul {
	padding: 14px 23px 20px;
}
.ion_custom .scroll .task_ul.ul_pad{padding: 14px 23px 60px;}
.ion_custom .scroll .task_ul li {
	border-radius: 40px;
	background: #fff;
}
.ion_custom .scroll .task_ul li .task-bottom {
	font-size: 14px;
	padding: 0px 14px;
	color: rgba(51, 51, 51, 0.9);
	font-family: 'Open Sans', sans-serif;
}
.bar-footer {
    background: #EFF0F0;
}
/*  Ionic custom style end */


/*  popup css  */

div#popup_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background: rgba(0,0,0,0.7);
    z-index: 99;
}

div#popup {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 80%;
    left: 10%;
    padding: 5%;
    top: 30%;
	border-radius: 10px;

}
#popup
{
display:none;
	
}#pop_close
{
display:none;
	
}
.agree
{
	display:none;
	color: none;
}
.close_pop_box {
    position: fixed;
    z-index: 9999;
    bottom: 70px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    line-height: 47px;
    left: 50%;
    margin-left: -25px;
}
.tickMark{
	width: 120px;
	margin-left: -50px;
}
.pop_close {
    color: rgba(255,255,255,0.35);
    bottom: 70px;
    border: 2px solid rgba(255, 255, 255, 0.35);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    line-height: 47px;
    float: left;
    font-size: 14px;
}.pop_close.agree {
    margin-right: 20px;
}
